In [7]:
import pandas as pd
import numpy as np

atl = pd.read_csv('atl_data.csv')
atl.head()

,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,UniqueCarrier,FlightNum,Distance,Dest,Cancelled
0,1,19,6,916.0,900,XE,1265,745,ATL,0
1,1,16,3,2102.0,1739,XE,2622,689,ATL,0
2,1,22,2,919.0,900,XE,2023,554,ATL,0
3,1,1,2,1127.0,1035,XE,1221,745,ATL,0
4,1,5,6,1733.0,1720,XE,2562,689,ATL,0

In [8]:
cancelled = atl.loc[atl['Cancelled']==True]

In [9]:
rand = atl.sample(26)
rand

,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,UniqueCarrier,FlightNum,Distance,Dest,Cancelled
60987,7,27,7,1831.0,1824,FL,528,332,ATL,0
90279,11,30,7,603.0,555,EV,5349,191,ATL,0
48983,6,15,7,1921.0,1911,FL,89,356,ATL,0
95280,12,15,1,1824.0,1800,DL,849,745,ATL,0
104564,12,25,4,1844.0,1630,MQ,4444,606,ATL,0
83383,10,8,3,2038.0,1941,FL,856,403,ATL,0
64960,8,7,4,2158.0,2130,UA,640,606,ATL,0
44940,6,29,7,1652.0,1645,DL,966,1589,ATL,0
11744,2,24,7,1209.0,1159,EV,4529,223,ATL,0
60536,7,22,2,1443.0,1430,FL,345,665,ATL,0
105905,12,5,5,1055.0,1045,DL,748,1199,ATL,0
26816,3,4,2,1745.0,1605,DL,730,526,ATL,0
73708,9,9,2,2056.0,1940,XE,1299,745,ATL,0
39099,5,3,6,1502.0,1435,EV,4642,83,ATL,0
50031,6,30,1,2007.0,1907,FL,214,528,ATL,0
42815,5,14,3,1302.0,1100,DL,1614,732,ATL,0
8212,2,15,5,1840.0,1640,OH,5010,952,ATL,0
14649,2,17,7,2012.0,1758,FL,862,403,ATL,0
50242,6,19,4,645.0,600,9E,2004,223,ATL,0
31630,4,30,3,601.0,545,EV,4623,821,ATL,0
85801,10,10,5,1016.0,1005,DL,1573,594,ATL,0
15657,2,27,3,1544.0,1526,FL,934,576,ATL,0
66867,8,29,5,1505.0,1438,EV,4279,554,ATL,0
54291,7,24,4,1138.0,1129,DL,839,745,ATL,0
495,1,12,6,1112.0,1004,US,610,1587,ATL,0
35236,4,4,5,2024.0,1855,DL,1578,545,ATL,0

In [11]:
sample = cancelled.append(rand)
# sample.to_csv('atl_flight_sample.csv')
sample.set_index(np.arange(len(sample)))

,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,UniqueCarrier,FlightNum,Distance,Dest,Cancelled
0,10,18,6,1304.0,1242,EV,5567,692,ATL,1
1,10,19,7,103.0,1758,EV,5052,781,ATL,1
2,10,25,6,1143.0,1000,9E,2047,712,ATL,1
3,11,29,6,1755.0,1647,YV,7269,533,ATL,1
4,11,30,7,2201.0,2135,DL,968,1919,ATL,1
5,11,30,7,855.0,745,EV,5026,247,ATL,1
6,11,14,5,2028.0,1635,EV,5059,300,ATL,1
7,11,12,3,611.0,540,9E,5820,302,ATL,1
8,11,7,5,1757.0,1725,9E,5828,134,ATL,1
9,12,20,6,2153.0,2105,YV,7259,606,ATL,1
10,12,28,7,1555.0,1045,OO,4690,264,ATL,1
11,12,15,1,643.0,630,DL,1747,906,ATL,1
12,12,17,3,1719.0,1450,DL,1798,1747,ATL,1
13,12,26,5,1602.0,1440,DL,1865,946,ATL,1
14,12,10,3,1534.0,1245,EV,5367,300,ATL,1
15,12,21,7,1554.0,545,EV,5381,633,ATL,1
16,12,26,5,1752.0,600,EV,5477,564,ATL,1
17,12,11,4,727.0,600,EV,5479,503,ATL,1
18,12,21,7,1637.0,1233,EV,5593,533,ATL,1
19,12,21,7,1707.0,943,EV,4945,483,ATL,1
20,12,10,3,1938.0,1835,EV,4992,164,ATL,1
21,12,17,3,1506.0,1240,FL,774,1747,ATL,1
22,12,10,3,1823.0,1740,9E,5846,696,ATL,1
23,12,20,6,2224.0,1730,CO,1151,745,ATL,1
24,12,11,4,2200.0,1800,CO,1155,745,ATL,1
25,12,7,7,1526.0,1444,DL,1743,712,ATL,1
26,7,27,7,1831.0,1824,FL,528,332,ATL,0
27,11,30,7,603.0,555,EV,5349,191,ATL,0
28,6,15,7,1921.0,1911,FL,89,356,ATL,0
29,12,15,1,1824.0,1800,DL,849,745,ATL,0
30,12,25,4,1844.0,1630,MQ,4444,606,ATL,0
31,10,8,3,2038.0,1941,FL,856,403,ATL,0
32,8,7,4,2158.0,2130,UA,640,606,ATL,0
33,6,29,7,1652.0,1645,DL,966,1589,ATL,0
34,2,24,7,1209.0,1159,EV,4529,223,ATL,0
35,7,22,2,1443.0,1430,FL,345,665,ATL,0
36,12,5,5,1055.0,1045,DL,748,1199,ATL,0
37,3,4,2,1745.0,1605,DL,730,526,ATL,0
38,9,9,2,2056.0,1940,XE,1299,745,ATL,0
39,5,3,6,1502.0,1435,EV,4642,83,ATL,0
40,6,30,1,2007.0,1907,FL,214,528,ATL,0
41,5,14,3,1302.0,1100,DL,1614,732,ATL,0
42,2,15,5,1840.0,1640,OH,5010,952,ATL,0
43,2,17,7,2012.0,1758,FL,862,403,ATL,0
44,6,19,4,645.0,600,9E,2004,223,ATL,0
45,4,30,3,601.0,545,EV,4623,821,ATL,0
46,10,10,5,1016.0,1005,DL,1573,594,ATL,0
47,2,27,3,1544.0,1526,FL,934,576,ATL,0
48,8,29,5,1505.0,1438,EV,4279,554,ATL,0
49,7,24,4,1138.0,1129,DL,839,745,ATL,0
50,1,12,6,1112.0,1004,US,610,1587,ATL,0
51,4,4,5,2024.0,1855,DL,1578,545,ATL,0